{% extends 'layout_main.html' %}

{% block head_title %}: about{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h3>Welcome to PetStop</h3>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <p style="text-align: center;">PetStop is a personal web application project created in heat of passion by one man, on his way to salary. It's a way to learn about developing web applications by rolling up the sleaves and working hard for many hours. Therefore here we are now, after over 3 weeks of work; this is the first version of app realeased for testing (if anyone has a guts to do so). It'll be hard to enjoy the stay here, since app has strictly utilitarian purpose so I simply hope that your experience won't be unpleasant.</p>                
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <p style="text-align: center;"><h6>List of tools used for development:</h6></p>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <p style="text-align: center;">Python<br>Flask<br>HTML<br>Bootstrap 5<br>CSS</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}