{% extends "layout.html" %}

{% block title %}: Add{% endblock %}

{% block body %}
    <br>

    <div class="container">
        <h3>Add an animal to your shelter</h3>
        <br>
        <div class="row justify-content-center align-items-center">
            <form action="/add" method="post">
                <div class="form-group">
                    <label for="nameInput">Name</label>
                    <input name="name" type="text" class="form-control" id="nameInput" placeholder="Name">
                </div>
                <br>
                <div class="form-group">
                    <label for="speciesSelect" class="form-label">Choose species</label>
                    <select name="species" class="form-select">
                        <option selected value="dog">Dog</option>
                        <option value="cat">Cat</option>
                        <option value="stara">Twoja stara</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="descriptionInput" class="form-label">Description</label>
                    <textarea name="description" class="form-control" id="descriptionInput" rows="7" placeholder="Description"></textarea>
                </div>
                <br>
                <div class="form-group">
                    <label for="imageInput" class="form-label">Image</label>
                    <input name="image" class="form-control" type="file" id="imageInput" onchange="preview()">
                </div>
                <br>
                <div class="form-group">
                    <input name="urgency" class="form-check-input" type="checkbox" value="TRUE" id="urgencyCheck">
                    <label class="form-check-label" for="urgencyCheck">
                        Urgent adoption needed
                    </label>
                </div>
                <br>
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}