{% extends "layout_body.html" %}

{% block head_title %}: {{ animal['name'] }}{% endblock %}

{% block body_header %}
    <h3>{{ animal['name'] }}</h3><br>
    Sheltered in {{ animal['shelter'] }}
    <br>
    {{ animal['species'] }}
    <br>
    {% if animal['description'] != None %}
        {{ animal['description'] }}
    {% else %}
        {{ animal['name'] }} has no description.
    {% endif %}
    <br>
    Animal information:<br>
            Sex<br>
            Castrated<br>
            Birth day<br>
            Shelter accept day<br>
{% endblock %}

{% block body_content %}
    <h5>Vaccinations:</h5><br>
    {% if vaccinations %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Vaccination</th>
                    <th scope="col">Disease</th>
                    <th scope="col">Serial no.</th>
                    <th scope="col">Date</th>
                    <th scope="col">Exp. time</th>
                </tr>
            </thead>
            <tbody>
                {% for vac in vaccinations %}
                <tr>
                    <td>{{ vac['vac_name'] }}</td>
                    <td>{{ vac['vac_for'] }}</td>
                    <td>{{ vac['vac_series'] }}</td>
                    <td>{{ vac['vac_date'] }}</td>
                    <td>{{ vac['vac_exp'] }} year/years</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        There is no vaccination information provided yet.<br>
    {% endif %}
{% endblock %}

{% block body_sidebar %}
    <!-- Panel for keepers -->
    {% if user_status['keeper'] == True %}
        {% include "sidebar_animal_keeper.html" %}
    {% endif %}

    <!-- Panel with animal photo -->
    <div class="p-3">
        <div class="container border bg-light p-3">
            {% if animal['image'] != 0 %}
                <img src="/{{ animal['image'] }}" class="img-thumbnail" alt="{{ animal['name'] }}">
            {% else %}
                <img src="/static/animal_profile_image.jpg" class="img-thumbnail" alt="{{ animal['name'] }}">
            {% endif %}
            {% if user_status['login'] == True %}
                <br>
                <div class="d-grid gap-2">
                    <br>
                    <a type="button" class="btn btn-secondary" href="/animal/{{ animal['id'] }}/save">Save in your animals</a>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Panel with shelter info -->
    <div class="p-3">
        <div class="container border bg-light p-3">
            <h3>Localization</h3>
            {{ animal['name'] }} is sheltered in {{ shelter['name'] }} shelter.
            <br>
            {{ shelter['loc_adress'] }}
            <br>
            {{ shelter['loc_city'] }} {{ shelter['loc_postal'] }}
            <br>
            <br>
            {% include 'component_map.html' %}
            <div class="d-grid gap-2">
                <br>
                    <a type="button" class="btn btn-secondary" href="/shelter/{{ animal['shelter_id'] }}">Visit shelter page</a>
            </div>
        </div>
    </div>

    <!-- Panel with animal schedule -->
    <div class="p-3">
        <div class="container border bg-light p-3">
            This is {{ animal['name'] }} schedule panel - you can schedule your visit or (if you're shelter keeper or volunteer) walk with {{ animal['name'] }} here.
            <div class="d-grid gap-2">
                <br>
                {% if user_status['login'] == True %}
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#visitModal">
                        Schedule a visit
                    </button>
                {% else %}
                    <a type="button" class="btn btn-secondary" href="/login">
                        Schedule a visit
                    </a>
                {% endif %}
                {% if user_status['volunteer'] == True or user_status['keeper'] == True %}
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#walkModal">
                        Schedule a walk
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}

    <!-- Visit modal -->
    <div class="modal fade" id="visitModal" tabindex="-1" aria-labelledby="visitModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="visitModalLabel">Schedule a visit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form action="/animal/{{ animal['id'] }}/visit" method="post" id="visitForm">
                    <div class="modal-body">
                        <label for="visit">Pick visit day: </label>
                        <input type="date" id="visit" name="visit">
                    </div>
                </form>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="visitForm">Submit</button>
                </div>
            </div>
        </div>
      </div>

      <!-- Walk modal -->
      <div class="modal fade" id="walkModal" tabindex="-1" aria-labelledby="walkModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="walkModalLabel">Schedule a walk</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
    
                <form action="/animal/{{ animal['id'] }}/walk" method="post" id="walkForm">
                    <div class="modal-body">
                        <label for="visit">Pick walk day: </label>
                        <input type="date" id="visit" name="visit">
                    </div>
                </form>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="walkForm">Submit</button>
                </div>
            </div>
        </div>
      </div>
{% endblock %}

