{% extends "layout_body.html" %}

{% block title %}: {{ animal['name'] }}{% endblock %}

{% block body_header %}
    <h3>Change {{ animal['name'] }} information</h3><br>
    <p>You can change information about an animal at any time. The application doesn't have any verification process so far, therefore I hope for your honesty.</p>
    <p>Changes will only apply to fields that were edited.</p>
    <p>Please remember to save your changes on the right.</p>
{% endblock %}

{% block body_content %}
    <form action="/animal/{{ animal['id'] }}/edit" method="post" id="body_contentForm" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nameInput">Name*</label>
            <input name="name" type="text" class="form-control" id="nameInput" value="{{ animal['name'] }}">
        </div>
        <br>

        <div class="form-group">
            <label for="speciesSelect" class="form-label">Choose species*</label>
            <select name="species" class="form-select">
                {% for species in pos_species %}
                    {% if animal['species'] == species %}
                        <option selected value="{{ species }}">{{ species }}</option>
                    {% else %}
                        <option value="{{ species }}">{{ species }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <br>

        <div class="form-group">
            <label for="sexSelect" class="form-label">Choose sex*</label>
            <select name="sex" class="form-select">
                {% if animal['sex'] == 'male' %}
                    <option selected value="male">Male</option>
                    <option value="female">Female</option>
                {% else %}
                    <option value="male">Male</option>
                    <option selected value="female">Female</option>
                {% endif %}
            </select>
        </div>
        <br>

        <div class="form-group">
            <label for="imageInput" class="form-label">Image</label>
            <input name="image" class="form-control" type="file" id="imageInput" onchange="preview()">
        </div>
        <br>

        <div class="form-group">
            <label for="descriptionInput" class="form-label">Description</label>
            {% if animal['description'] %}
                <textarea name="description" class="form-control" id="descriptionInput" rows="7">{{ animal['description'] }}</textarea>
            {% else %}
                <textarea name="description" class="form-control" id="descriptionInput" rows="7" placeholder="Description"></textarea>
            {% endif %}
        </div>
        <br>

        <div class="form-group">
            {% if animal['urgent'] %}
                <input name="urgent" class="form-check-input" type="checkbox" value="True" checked id="urgencyCheck">
            {% else %}
                <input name="urgent" class="form-check-input" type="checkbox" value="True" id="urgencyCheck">
            {% endif %}
            <label class="form-check-label" for="urgencyCheck">
                Urgent adoption needed
            </label>
        </div>
        <br>

        <div class="form-group">
            {% if animal['castrated'] %}
                <input name="castrated" class="form-check-input" type="checkbox" value="True" checked id="castratedCheck">
            {% else %}
                <input name="castrated" class="form-check-input" type="checkbox" value="True" id="castratedCheck">
            {% endif %}
            <label class="form-check-label" for="castratedCheck">
                Castrated/setilized
            </label>
        </div>
        <br>

        <div class="form-group">
            <label for="dat_birthInput">Birth year</label>
            {% if animal['date_birth'] %}
                <input name="date_birth" type="text" class="form-control" id="dat_birthInput" value="{{ animal['date_birth'] }}">
            {% else %}
                <input name="date_birth" type="text" class="form-control" id="dat_birthInput" placeholder="Birth year">
            {% endif %}
        </div>
        <br>

        <div class="form-group">
            <label for="dat_shelterInput">Shelter admission year</label>
            {% if animal['date_shelter'] %}
                <input name="date_shelter" type="text" class="form-control" id="dat_shelterInput" value="{{ animal['date_shelter'] }}">
            {% else %}
                <input name="date_shelter" type="text" class="form-control" id="dat_shelterInput" placeholder="Admission year">
            {% endif %}
        </div>
        <br>

    </form>
{% endblock %}

{% block body_sidebar %}
    {% include "sidebar_animal_keeper.html" %}
    {% include "sidebar_animal_submit.html" %}
{% endblock %}