{% extends "layout_body.html" %}

{% block head_title %}: {{ animal['name'] }}{% endblock %}

{% block body_header %}
    <h3>{{ animal['name'] }}</h3><br>
    Sheltered in {{ animal['shelter'] }}
    <br>
    {{ animal['species'] }}
    <br>
    {% if animal['description'] != None %}
        {{ animal['description'] }}
    {% else %}
        {{ animal['name'] }} has no description.
    {% endif %}
    <br>
    Animal information:<br>
            Sex<br>
            Castrated<br>
            Birth day<br>
            Shelter accept day<br>
{% endblock %}

{% block body_content %}
    <h5>Vaccinations:</h5><br>
    {% if vaccinations %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Vaccination</th>
                    <th scope="col">Disease</th>
                    <th scope="col">Serial no.</th>
                    <th scope="col">Date</th>
                    <th scope="col">Exp. time</th>
                </tr>
            </thead>
            <tbody>
                {% for vac in vaccinations %}
                <tr>
                    <td>{{ vac['vac_name'] }}</td>
                    <td>{{ vac['vac_for'] }}</td>
                    <td>{{ vac['vac_series'] }}</td>
                    <td>{{ vac['vac_date'] }}</td>
                    <td>{{ vac['vac_exp'] }} year/years</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        There is no vaccination information provided yet.<br>
    {% endif %}
{% endblock %}

{% block body_sidebar %}

    <!-- Panel for keepers -->
    {% if user_status['keeper'] == True %}
        {% include "sidebar_animal_keeper.html" %}
    {% endif %}

    <!-- Panel with animal photo -->
    <div class="p-3">
        <div class="container border bg-light p-3">
            {% if animal['image'] != 0 %}
                <img src="/{{ animal['image'] }}" class="img-thumbnail" alt="{{ animal['name'] }}">
            {% else %}
                <img src="/static/animal_profile_image.jpg" class="img-thumbnail" alt="{{ animal['name'] }}">
            {% endif %}
            
            <br><br>
            <div class="d-grid gap-2">
                    {% if user_status['login'] == True %}
                <a type="button" class="btn btn-secondary" href="/animal/{{ animal['id'] }}/save">Save in your animals</a>
                    {% endif %}
                <a type="button" class="btn btn-secondary" href="/animal/{{ animal['id'] }}/schedule/day">Schedule an appointment</a>
            </div>
            
        </div>
    </div>

    <!-- Panel with shelter info -->
    <div class="p-3">
        <div class="container border bg-light p-3">
            <h3>Localization</h3>
            {{ animal['name'] }} is sheltered in {{ shelter['name'] }} shelter.
            <br>
            {{ shelter['loc_adress'] }}
            <br>
            {{ shelter['loc_city'] }} {{ shelter['loc_postal'] }}
            <br>
            <br>
            {% include 'component_map.html' %}
            <div class="d-grid gap-2">
                <br>
                    <a type="button" class="btn btn-secondary" href="/shelter/{{ animal['shelter_id'] }}">Visit shelter page</a>
            </div>
        </div>
    </div>

{% endblock %}