{% extends "animal_schedule_layout.html" %}


{% block body_content %}
    <form action="/animal/{{ animal['id'] }}/schedule/day" method="post">

        <label for="app_day" class="form-label"><h5>Choose a day for your appointment:</h5></label>
        <br>
        <input type="date" id="app_day" name="app_day" min="{{ pos_day['min'] }}" max="{{ pos_day['max'] }}" value="{{ pos_day['min'] }}">
        <br><br>
        <button type="submit" class="btn btn-secondary">Select</button>

    </form>

    <br>

    <form action="/animal/{{ animal['id'] }}/schedule/time" method="post">

        <label for="app_day" class="form-label"><h5>Choose time for your appointment:</h5></label>
        <br>
        <input type="date" id="app_day" name="app_day" min="{{ pos_day['min'] }}" max="{{ pos_day['max'] }}" value="{{ pos_day['min'] }}">
        <br><br>
        <button type="submit" class="btn btn-secondary">Select</button>

    </form>

{% endblock %}