{% extends "layout_body.html" %}

{% block head_title %}: schedule appointment{% endblock %}


{% block body_header %}
    <h3>Schedule an appointment with {{ animal['name'] }}</h3>
{% endblock %}


{% block body_sidebar %}

    <!-- Panel with shelter info -->
    <div class="p-3">
        <div class="container border bg-light p-3">
            <h3>Localization</h3>
            {{ animal['name'] }} is sheltered in {{ shelter['name'] }} shelter.
            <br>
            {{ shelter['loc_adress'] }}
            <br>
            {{ shelter['loc_city'] }} {{ shelter['loc_postal'] }}
            <br>
            <div class="d-grid gap-2">
                <br>
                    <a type="button" class="btn btn-secondary" href="/shelter/{{ animal['shelter_id'] }}">Visit shelter page</a>
                    <a type="button" class="btn btn-secondary" href="/animal/{{ animal['id'] }}">Back</a>
            </div>
        </div>
    </div>

    <!-- Panel with shelter opening hours -->
    <div class="p-3">
        <div class="container border bg-light p-3">
            <table class="table">
                <h5>Shelter opening hours:</h5>
                <thead>
                    <tr>
                        <th scope="col">Open</th>
                        <th scope="col">Close</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ opening_hours['open'] }}.00</td>
                        <td>{{ opening_hours['close'] }}.00</td>
                    </tr>
                </tbody>
            </table>
            Please take a note that appointments can be scheduled for up to 1 hour before shelter closing.<br>
        </div>
    </div>

{% endblock %}