{% extends "layout_main.html" %}
{% block head_title %}: Index page{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h3>Welcome to PetStop</h3>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <p style="text-align: center;">PetStop is an application for animal shelters, which allow them for menagement and connecting with volunteers and clients.</p>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-sm-4">
                    <div class="p-2 d-grid gap-2">
                        <a class="btn btn-secondary" type="button" href="/search/animals">Serach for animals</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="p-2 d-grid gap-2">
                        <a class="btn btn-secondary" type="button" href="/search/shelters">Search for shelters</a>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>

{% endblock %}