{% extends "layout.html" %}

{% block title %}: Add{% endblock %}

{% block body %}

    <!-- Error message -->
    {% if error != None %}
        <div class="alert alert-primary" role="alert">
            {{ error }}
        </div>
    {% endif %}

    <br>
    <div class="container">
        <h3>Register a new user</h3>
        <br>
        <div class="row justify-content-center align-items-center">
            <form action="/register" method="post">

                <div class="form-group">
                    <label for="usernameInput">Username</label>
                    <input name="username" type="text" class="form-control" id="usernameInput" placeholder="Name">
                </div>
                <br>

                <div class="form-group">
                    <label for="emailInput">Email adress</label>
                    <input name="email" type="text" class="form-control" id="emailInput" placeholder="Email">
                </div>
                <br>

                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
                </div>
                <br>

                <div class="form-group">
                    <label for="conpasswordInput">Confirm password</label>
                    <input name="conpassword" type="password" class="form-control" id="conpasswordInput" placeholder="Confirm password">
                </div>
                <br>
                
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </form>
        </div>
    </div>
    
{% endblock %}