{% extends "layout_body.html" %}

{% block head_title %}: Search animals{% endblock %}

{% block body_header %}
    <h3>Animals</h3><br>
    <p>Search filters:</p>
{% endblock %}

{% block body_content %}
    {% if animals %}
        {% for animal in animals %}
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row gy-1 gx-1">
                            <div class="col-3">
                                <div class="d-grid gap-2">
                                    {% if animal['image'] != None %}
                                        <img src="/{{ animal['image'] }}" class="img-thumbnail" alt="{{ animal['name'] }}">
                                    {% else %}
                                        <img src="/static/animal_image.jpg" class="img-thumbnail" alt="{{ animal['name'] }}">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-8">
                                <h5 class="card-title">{{ animal['name'] }}</h5>
                                <p class="card-text">
                                    Sheltered in {{ animal['shelter'] }}
                                    <br>
                                    {{ animal['species'] }}
                                    <br>
                                    {% if animal['description'] != None %}
                                        {{ animal['description'] }}
                                    {% else %}
                                        {{ animal['name'] }} has no description.
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div> 
                    <a href="/animal/{{ animal['id'] }}" class="stretched-link"></a>
                </div>
            </div>
            <br>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block body_sidebar %}
<div class="p-3">
    <div class="container border bg-light p-3">
        <div class="d-grid gap-2">
            Hello!<br>
            This is animal search page. If you would like to search for shelters, please go to shelter search page.
        </div>
</div>

</div>
    <div class="p-3">
        <div class="container border bg-light p-3">
            <div class="d-grid gap-2">
                    <a type="button" class="btn btn-secondary" href="/search/shelters">Search for shelters</a>
                    <a type="button" class="btn btn-secondary" href="/">Index page</a>
            </div>
        </div>
    </div>
{% endblock %}