{% extends "layout_body.html" %}

{% block head_title %}: {{ shelter['name'] }}{% endblock %}

{% block body_header %}
    <h3>Adopted animals:</h3>
{% endblock %}

{% block body_content %}

    {% if animals %}
        {% for animal in animals %}
            {% if animal['status'] == 'adopted' %}
                <div class="card">
                    <div class="card-body">
                        <div class="container">
                            <div class="row gy-1 gx-1">
                                <div class="col-3">
                                    <div class="d-grid gap-2">
                                        {% if animal['image'] != 0 %}
                                            <img src="/{{ animal['image'] }}" class="img-thumbnail" alt="{{ animal['name'] }}">
                                        {% else %}
                                            <img src="/static/animal_image.jpg" class="img-thumbnail" alt="{{ animal['name'] }}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-8">
                                    <h5 class="card-title">{{ animal['name'] }}</h5>
                                    <p class="card-text">
                                        {{ animal['species'] }}
                                        <br>
                                        {% if animal['description'] != None %}
                                            {{ animal['description'] }}
                                        {% else %}
                                            {{ animal['name'] }} has no description.
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div> 
                        <a href="/animal/{{ animal['id'] }}" class="stretched-link"></a>
                    </div>
                </div>
                <br>
            {% endif %}
        {% endfor %}
    {% endif %}
    
{% endblock %}


{% block body_sidebar %}
    <!-- Panel for keepers/owner -->
    {% if user_status['keeper'] == True %}
        {% include "sidebar_nav.html" %}
    {% endif %}


    <!-- Panel with back -->
    <div class="p-3">
        <div class="container border bg-light p-3">
            <div class="d-grid gap-2">
                <a type="button" class="btn btn-secondary" href="/shelter/{{ shelter['id'] }}">Back</a>
            </div>
        </div>
    </div>


{% endblock %}