{% extends "layout_body.html" %}

{% block title %}: {{ shelter['name'] }}{% endblock %}

{% block body_header %}
    <h3>Edit shelter needs</h3><br>
    <p>You can change your shelter needs at any time. The application doesn't have any verification process so far, therefore I hope for your honesty.</p>
    <p>Changes will only apply to fields that were edited.</p>
    <p>Please remember to save your changes on the right.</p>
{% endblock %}

{% block body_content %}
    ware 1<br>
    ware 2<br>
    ware 3<br>
    ware 4<br>
    ware 5<br>
    ware 6<br>
    ware 7<br>
    ware 8<br>
{% endblock %}

{% block body_sidebar %}
    {% if user_status['keeper'] == True %}
        {% include "sidebar_nav.html" %}
        {% include "sidebar_submit.html" %}
    {% endif %}
{% endblock %}