{% extends "shelter_layout.html" %}

{% block shelter_head_title %}
    <h3>Control panel: edit shelter keepers</h3><br>
    <p>You can add and remove keepers from your shelter at any time. The application doesn't have any verification process so far, therefore I hope for your honesty.</p>
    <p>Changes will only apply to fields that were edited.</p>
    <p>Please remember to save your changes on the right.</p>
{% endblock %}

{% block shelter_head_content %}
    keeper 1<br>
    keeper 2<br>
    keeper 3<br>
    keeper 4<br>
    keeper 5<br>
    keeper 6<br>
    keeper 7<br>
    keeper 8<br>
{% endblock %}