{% extends "layout.html" %}

{% block title %}: {{ shelter_info['name'] }}{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row gy-1 gx-1">
            <div class="col-8">
                <div class="p-3">

                    <!-- Panel for filtering animals in shelter -->
                    <div class="container border bg-light p-3">
                        {% block shelter_head_title %}
                            <!-- shelter_head_title -->
                        {% endblock %}
                    </div>

                    <!-- Panel for animals in shelter -->
                    <div class="container border bg-light p-3">
                        {% block shelter_head_content %}
                            <!-- shelter_head_content -->
                        {% endblock %}
                    </div>

                </div>

            </div>
            <div class="col-4">

                {% block shelter_side %}
                    <!-- Shelter side content -->
                {% endblock %}
                
            </div>
        </div>
    </div>
    
{% endblock %}