{% extends "shelter_layout.html" %}

{% block shelter_head_title %}
    <h3>Control panel: add an animal to your shelter</h3><br>
    <p>You can add, edit and remove from your shelter at any time. The application doesn't have any verification process so far, therefore I hope for your honesty.</p>
    <p>Changes will only apply to fields that were edited.</p>
    <p>Please remember to save your changes on the right.</p>
{% endblock %}

{% block shelter_head_content %}
    form item 1<br>
    form item 2<br>
    form item 3<br>
    form item 4<br>
    form item 5<br>
    form item 6<br>
    form item 7<br>
    keeform itemper 8<br>
{% endblock %}