{% extends "layout_body.html" %}

{% block title %}: {{ shelter['name'] }}{% endblock %}

{% block body_header %}
    <h3>{{ shelter['name'] }} supply needs</h3><br>
    <p>You can see which supplies are needed in the shelter right now.</p>
    {% if user_status['keeper'] or user_status['owner'] %}
        <p>As long as you're an owner or a keeper of the shelter you can menage supplies requests.</p>
    {% endif %}
{% endblock %}

{% block body_content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Supply</th>
                <th scope="col">Demand</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% if supplies %}
                {% for vac in vaccinations %}
                <tr>
                    <td class="align-middle">{{ supply['name'] }}</td>
                    <td class="align-middle">{{ supply['demand'] }}</td>
                    <td class="align-middle">{{ supply['date'] }}</td>
                    <td class="align-middle"><div class="d-grid gap-2"><a type="button" class="btn btn-secondary" href="/animal/{{ animal['id'] }}/vaccinations/delete/{{ vac['id'] }}">Delete</a></div></td>
                </tr>
                {% endfor %}
            {% else %}
                There are no supplies requested yet.<br>
            {% endif %}
            {% if user_status['keeper'] or user_status['owner'] %}
                <br>
                <form action="/shelter/{{ shelter['id'] }}/needs" method="post">
                    <td><input name="name" type="text" class="form-control align-middle" placeholder="Supply"></td>
                    <td class="align-bottom"><input name="demand" type="range" class="form-range" id="customRange1" min="0" max="2" step="1" value="0"></td>
                    <td class="align-middle"></td>
                    <td><div class="d-grid gap-2"><button type="submit" class="btn btn-secondary">Submit</button></div></td>
                </form>
            {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block body_sidebar %}
    {% if user_status['keeper'] == True %}
        {% include "sidebar_nav.html" %}
    {% endif %}
    <div class="p-3">
        <div class="container border bg-light p-3">
            <div class="d-grid gap-2">
                <a type="button" class="btn btn-secondary" href="/shelter/{{ shelter['id'] }}">Back</a>
            </div>
        </div>
    </div>
{% endblock %}