{% extends "shelter_layout.html" %}

{% block title %}: {{ shelter_info['name'] }}{% endblock %}

{% block alert %}
    <!-- Error message -->
    {% if errors|count != 0 %}
        <div class="alert alert-primary" role="alert">
            {% for error in errors %}
                {{ error }}<br>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block shelter_head_title %}
    <h3>Control panel: edit shelter information</h3><br>
    <p>You can change your shelter information at any time. The application doesn't have any verification process so far, therefore I hope for your honesty.</p>
    <p>Changes will only apply to fields that were edited.</p>
    <p>Please remember to save your changes on the right.</p>
{% endblock %}

{% block shelter_head_content %}
    <form action="/shelterinformation/{{ shelter_info['id'] }}" method="post" id="shelterForm" enctype="multipart/form-data">

        <label for="nameInput">Shelter name</label>
        <input name="name" type="text" class="form-control" id="nameInput" value="{{ shelter_info['name'] }}">
        <br>
    
        <label for="emailInput">Email adress</label>
        <input name="con_email" type="email" class="form-control" id="emailInput" value="{{ shelter_info['con_email'] }}">
        <br>
    
        <label for="cityInput">City</label>
        <input name="loc_city" type="text" class="form-control" id="cityInput" value="{{ shelter_info['loc_city'] }}">
        <br>
    
        <label for="adressInput">Adress</label>
        <input name="loc_adress" type="text" class="form-control" id="adressInput" value="{{ shelter_info['loc_adress'] }}">
        <br>
    
        <label for="postalInput">Postal code</label>
        <input name="loc_postal" type="text" class="form-control" id="postalInput" value="{{ shelter_info['loc_postal'] }}">
        <br>
    
        <label for="phoneInput">Phone number</label>
        <input name="con_phone" type="text" class="form-control" id="phoneInput" value="{{ shelter_info['con_phone'] }}">
        <br>

        <label for="descriptionInput">Description</label>
        <textarea name="description" type="text" class="form-control" id="descriptionInput" rows="5">{% if shelter_info['description'] != None %}{{ shelter_info['description'] }}{% endif %}</textarea>
        <br>

        <label for="imageInput">Image</label>
        <input name="image" type="file" class="form-control" id="imageInput" onchange="preview()">
        <br>
    
    </form>
{% endblock %}

{% block shelter_side %}
    {% if keeper != None %}
        {% include "side_panel_keepers_db.html" %}
        {% include "side_panel_save.html" %}
    {% endif %}
{% endblock %}