{% extends "layout_body.html" %}

{% block title %}: {{ shelter['name'] }}{% endblock %}

{% block body_header %}
    <h3>Add an animal to your shelter</h3><br>
    <p>You can add, edit and remove from your shelter at any time. The application doesn't have any verification process so far, therefore I hope for your honesty.</p>
    <p>Changes will only apply to fields that were edited.</p>
    <p>Please remember to save your changes on the right.</p>
{% endblock %}

{% block body_content %}
    <form action="/shelter/{{ shelter['id'] }}/addanimal" method="post" id="body_contentForm" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nameInput">Name</label>
            <input name="name" type="text" class="form-control" id="nameInput" placeholder="Name">
        </div>
        <br>

        <div class="form-group">
            <label for="speciesSelect" class="form-label">Choose species</label>
            <select name="species" class="form-select">
                <option selected disabled>Choose</option>
                {% for specie in species %}
                    <option value="{{ specie }}">{{ specie }}</option>
                {% endfor %}
            </select>
        </div>
        <br>

        <div class="form-group">
            <label for="sexSelect" class="form-label">Choose sex</label>
            <select name="sex" class="form-select">
                <option selected value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <br>

        <div class="form-group">
            <label for="imageInput" class="form-label">Image</label>
            <input name="image" class="form-control" type="file" id="imageInput" onchange="preview()">
        </div>
        <br>

        <div class="form-group">
            <label for="descriptionInput" class="form-label">Description</label>
            <textarea name="description" class="form-control" id="descriptionInput" rows="7" placeholder="Description"></textarea>
        </div>
        <br>

        <div class="form-group">
            <input name="urgent" class="form-check-input" type="checkbox" value="True" id="urgencyCheck">
            <label class="form-check-label" for="urgencyCheck">
                Urgent adoption needed
            </label>
        </div>

    </form>
{% endblock %}

{% block body_sidebar %}
    {% if user_status['keeper'] == True %}
        {% include "sidebar_nav.html" %}
        {% include "sidebar_submit.html" %}
    {% endif %}
{% endblock %}