
{% extends "shelter_layout.html" %}

{% block shelter_head_title %}
    <h3>Animals in shelter</h3><br>
    <p>Search filters:</p>
{% endblock %}

{% block shelter_head_content %}
        {% for animal in animals %}
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row gy-1 gx-1">
                            <div class="col-3">
                                <div class="d-grid gap-2">
                                    {% if animal['image'] != None %}
                                        <img src="/{{ animal['image'] }}" class="img-thumbnail" alt="{{ animal['name'] }}">
                                    {% else %}
                                        <img src="/static/animal_image.jpg" class="img-thumbnail" alt="{{ animal['name'] }}">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-8">
                                <h5 class="card-title">{{ animal['name'] }}</h5>
                                <p class="card-text">
                                    {{ animal['species'] }}
                                    <br>
                                    {% if animal['description'] != None %}
                                        {{ animal['description'] }}
                                    {% else %}
                                        {{ animal['name'] }} has no description.
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div> 
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
            <br>
    {% endfor %}
{% endblock %}

{% block shelter_side %}
    <!-- Panel for keepers -->
    {% if keeper != None %}
        {% include "side_panel_keepers.html" %}
    {% endif %}

    <!-- Panel for shelter information -->
    <div class="p-3">
        <div class="container border bg-light p-3">
            {% if shelter_info['image'] != None %}
                <img src="/{{ shelter_info['image'] }}" class="img-thumbnail" alt="{{ shelter_info['name'] }}">
            {% else %}
                <img src="/static/shelter_image.jpg" class="img-thumbnail" alt="{{ shelter_info['name'] }}">
            {% endif %}
            <h3>{{ shelter_info['name'] }}</h3>
            {{ shelter_info['loc_city'] }}<br>
            {{ shelter_info['loc_adress'] }}<br>
            {{ shelter_info['loc_postal'] }}<br>
            {{ shelter_info['con_phone'] }}<br>
            {{ shelter_info['con_email'] }}<br>
            {{ shelter_info['description'] }}<br>
        </div>
    </div>
    <!-- Panel for shelter supplies information -->
    <div class="p-3">
        <div class="container border bg-light p-3">
            Shelter supplies:<br>
            Displays<br>
            supplies<br>
            with<br>
            current<br>
            level<br>
            and<br>
            needs<br>
        </div>
    </div>
{% endblock %}