<div class="p-3">
    <div class="container border bg-light p-3">
        Hello {{ keeper }}!<br>
        This is animal control panel - visible only for shlter keepers after logging in.
        <div class="d-grid gap-2">
                <form action="/animal/{{ animal['id'] }}" method="post" id="body_contentForm"></form>
                    Quick status changes:
                    <div class="form-group">
                        <input name="status_visibility" class="form-check-input" type="checkbox" value="True" selected id="status_visibilityCheck" checked>
                        <label class="form-check-label" for="status_visibilityCheck">
                            Visible on shelter and search page
                        </label>
                    </div>
                    <div class="form-group">
                        <input name="status_visitability" class="form-check-input" type="checkbox" value="True" selected id="status_visitabilityCheck" checked>
                        <label class="form-check-label" for="status_visitabilityCheck">
                            Allowed to have visitors
                        </label>
                    </div>
                    <div class="form-group">
                        <input name="status_walkability" class="form-check-input" type="checkbox" value="True" selected id="status_walkabilityCheck" checked>
                        <label class="form-check-label" for="status_walkabilityCheck">
                            Allowed to have walks
                        </label>
                    </div>
                    <div class="form-group">
                        <select name="status" class="form-select">
                            <option value="free">Free for adoption</option>
                            <option value="reserved">Reserved</option>
                            <option value="adopted">Adopted</option>
                        </select>
                    </div>
                    <a type="button" class="btn btn-primary" href="#">Save changes</a>
                </form>
                <br>
                <a type="button" class="btn btn-secondary" href="/animal/{{ animal['id'] }}/edit">Edit information</a>
                <a type="button" class="btn btn-secondary" href="#">Remove animal</a>
        </div>
    </div>
</div>