<div class="p-3">
    <div class="container border bg-light p-3">
        Hello {{ keeper }}!<br>
        This is shelters control panel - visible only for shlter keepers after logging in.
        <div class="d-grid gap-2">
            <br>
                <a type="button" class="btn btn-secondary" href="/shelterinformation">Shelter information</a>
                <a type="button" class="btn btn-secondary" href="/shelterneeds">Shelter needs</a>
                <a type="button" class="btn btn-secondary" href="/shelterkeepers">Shelter keepers</a>
                <a type="button" class="btn btn-secondary" href="/shelteranimal">Add an animal</a>
        </div>
    </div>
</div>              
