{% extends "layout_body.html" %}

{% block title %}: your schedule{% endblock %}

{% block body_header %}
    <h3>Your schedule:</h3>
{% endblock %}

{% block body_content %}
    {% if schedule %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Animal</th>
                <th scope="col">Shelter</th>
                <th scope="col">Type</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for event in schedule %}
            <tr>
                <td class="align-middle"><a href="/animal/{{ event['animal_id'] }}" class="text-reset">{{ event['animal_name'] }}</a></td>
                <td class="align-middle"><a href="/shelter/{{ event['shelter_id'] }}" class="text-reset">{{ event['shelter_name'] }}</a></td>
                <td class="align-middle text-capitalize">{{ event['type'] }}</td>
                <td class="align-middle">{{ event['date'] }}</td>
                <td class="align-middle">{{ event['time'] }}.00 - {{ event['time'] + 1 }}.00</td>
                <td class="align-middle"><div class="d-grid gap-2"><a type="button" class="btn btn-secondary" href="/yourschedule/delete/{{ event['id'] }}">Delete</a></div></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        You don't have anything scheduled yet.<br>
    {% endif %}
{% endblock %}

{% block body_sidebar %}
    <div class="p-3">
        <div class="container border bg-light p-3">
            <div class="d-grid gap-2">
                Hello!<br>
                This is your schedule page. You can browese and menage your schedule here.
            </div>
        </div>
    </div>
{% endblock %}