{% extends "layout_main.html" %}

{% block head_title %}: Login{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <h3>Log in</h3>
        <br>
        <div class="row justify-content-center align-items-center">
            <form action="/login" method="post">

                <div class="form-group">
                    <label for="usernameInput">Username</label>
                    <input autofocus name="username" type="text" class="form-control" id="usernameInput" placeholder="Name">
                </div>
                <br>

                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
                </div>
                <br>
                
                <button type="submit" class="btn btn-secondary">Log in</button>
            </form>
        </div>
    </div>
{% endblock %}