{% extends "layout_body.html" %}

{% block title %}: Password{% endblock %}

{% block body_header %}
    <h3>Change password</h3><br>
    <p>You can change your password at any time.</p>
    <p>Please remember to save your changes on the right.</p>
{% endblock %}

{% block body_content %}
    <form action="/profile/information/password" method="post" id="body_contentForm">

        <div class="form-group">
            <label for="old_passwordInput">Old password</label>
            <input name="old_password" type="password" class="form-control" id="old_passwordInput" placeholder="Old password">
        </div>
        <br>
        
        <div class="form-group">
            <label for="passwordInput">New password</label>
            <input name="password" type="password" class="form-control" id="passwordInput" placeholder="New password">
        </div>
        <br>
        
        <div class="form-group">
            <label for="conpasswordInput">New password confirm</label>
            <input name="conpassword" type="password" class="form-control" id="conpasswordInput" placeholder="New password confirm">
        </div>
        <br>
        

    </form>
{% endblock %}

{% block body_sidebar %}
    <div class="p-3">
        <div class="container border bg-light p-3">
            <div class="d-grid gap-2">
                <button type="submit" form="body_contentForm" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" disabled>Change password</button>
                <a type="button" class="btn btn-secondary" href="/profile">Back</a>
            </div>
        </div>
    </div>
{% endblock %}